.weather-container {
  width: 300px;
  border-radius: 6px;
  box-shadow: 10px -2px 20px 2px rgb(0 0 0 / 30%);
  background-color: #fff;
  background-color: #333;
  margin: 20px auto 0 auto;
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px 20px 20px;
}
.weather-img {
  width: 100px;
}
