.container {
  max-width: 1080px;
  margin: 20px auto;
  padding: 0 1rem;
}
.city {
  font-weight: 600;
  font-size: 18px;
  line-height: 1px;
  margin: 0;
  letter-spacing: 1px;
}
.weather {
  font-weight: 300;
  font-size: 14px;
  line-height: 1px;
  margin: 0;
}
